.hero{
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #181C22;
    padding: 1em 6em;
    margin: 2.5em 0 0 0;
    border-radius: 29px;
    color: white;
    box-shadow: 8px 12px 10px black;
    position: relative;
}

.material {
    width: 60%;
    z-index: 2;
}

.logoContainer {
    display: flex;
    align-items: center;
    width: 111.5%;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos {
    white-space: nowrap;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-left: 5px;
}

.logo-slide {
    display: inline-block;
    animation: 10s slide infinite linear;
}

.logos img {
    width: 50px;
    margin: 0 20px;
}

#welcome {
    font-family: Roboto Mono;
    font-weight: bold;
    font-size: 2.7rem;
    width: 70%;
    margin-bottom: 50px;
}

span{
    color: #4FAA41;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.scale-on-hover {
    transition: transform 0.2s ease-in-out;
}

.scale-on-hover:hover {
    transform: scale(1.2);
}