.education {
    margin-top: 7em;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: -2.9em;
}

#edu{
    font-family: Roboto Mono;
    color: white;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2.7px;
    margin: 0;
    padding: 0;
}

#degree {
    /* font-size: 20px; */
    width: 500px;
    color: white;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.8px;
    margin: 0;
    padding: 0;
}

.experience {
    margin-top: 2em;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: -2.9em;
}

#exp {
    font-family: Roboto Mono;
    color: white;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2.7px;
    margin: 0;
    padding: 0;
}